# Exclude ALL files/folders by default
**/*

# Include ONLY these files/folders
!out
!out/**
!resources
!resources/**
!syntaxes
!syntaxes/**
!package.json
!CHANGELOG.md
!README.md
!LICENSE
!LICENSE.txt
